In [21]:
#Executar no terminal: python -m pip install mysql-connector-python
#Importa o mySQLConnector para acessar a DB com o Python
import mysql.connector

In [45]:
#Conecta ao MySQL Server sem selecionar um BD
mydb = mysql.connector.connect(
        host = 'localhost',
        user='root',
        password='12345678')

In [5]:
#Cria um BD
#mycursor.execute('CREATE DATABASE mydatabase')

In [46]:
mycursor = mydb.cursor()

#Lista todos os DB do servidor
mycursor.execute('SHOW DATABASES')

for db in mycursor:
    print(db)

('bootcamp',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [67]:
#Conectar ao MySQL server e seleciona uma BD
mydb = mysql.connector.connect(
        host = 'localhost',
        user='root',
        password='12345678',
        database='bootcamp')

In [68]:
#Lista todos as tabelas do DB
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")
for db in mycursor:
    print(db)

('caracteristicageralimovel',)
('caracteristicasgerais',)
('cidade',)
('cidades',)
('estado',)
('imovel',)
('tabelapython',)
('tipounidade',)

In [27]:
#Cria uma Tabela no DB
mycursor.execute ("CREATE TABLE tabelapython (\
  id INT NOT NULL PRIMARY KEY,\
  dsctabela VARCHAR(150) NOT NULL\
  );")

In [44]:
#Mostra que a nova table foi criada no DB
mycursor.execute("SHOW TABLES")
for db in mycursor:
    print(db)

InternalError: Unread result found

In [29]:
#Insere os dados em uma table

query = "INSERT INTO caracteristicasgerais (idcaracteristicasGerais, dsccaracteristicasGerais) VALUES (%s, %s)"
values = (1, "Portaria 24 Horas")
mycursor.execute(query, values)

mydb.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'caracteristicasgerais.PRIMARY'

In [30]:
#Confere se os dados foram adicionados 
print(mycursor.rowcount, "registro(s) inserido(s).")

-1 registro(s) inserido(s).

In [31]:
#Inserindo multiplos valores na tabela do DB
values= [(2, 'Elevador'),(3, 'Piscina')]
mycursor.executemany(query, values)

mydb.commit()

#Confere se os dados foram adicionados 
print(mycursor.rowcount, "registro(s) inserido(s).")

IntegrityError: 1062 (23000): Duplicate entry '2' for key 'caracteristicasgerais.PRIMARY'

In [49]:
#Consulta uma tabela
mycursor.execute("SELECT * FROM caracteristicasgerais")

#Todos os registros
myresult = mycursor.fetchall()
for mydata in myresult:
    print(mydata)

(1, 'Portaria 24 Horas')
(2, 'Elevador')
(3, 'Piscina')

In [40]:
#Consulta apenas um registro
mycursor.execute("SELECT idcaracteristicasGerais, dsccaracteristicasGerais FROM caracteristicasgerais")

myresult = mycursor.fetchone() #apenas primeiro registro

print(myresult)

(1, 'Portaria 24 Horas')

In [51]:
#Consulta uma tabela
mycursor.execute("SELECT * FROM bootcamp.cidade")

#Todos os registros
myresult = mycursor.fetchall()
for mydata in myresult:
    print(mydata)

In [52]:
import pandas as pd

In [58]:
#Leitura de arquivo sem utilizar biblioteca Pandas
# Conferir se seu arquivo foi salvo no caminho abaixo

filename = 'cidades.csv'
cidade = pd.read_csv(filename, encoding='latin-1')
cidade.set_index('CodigoCompletoIBGE')

                    CodigoCidadeIBGE               NomeCidade  CodEstadoIBGE
CodigoCompletoIBGE
1100015                           15    Alta Floresta D'Oeste             11
1100379                          379  Alto Alegre dos Parecis             11
1100403                          403             Alto Paraíso             11
1100346                          346         Alvorada D'Oeste             11
1100023                           23                Ariquemes             11
...                              ...                      ...            ...
5222005                        22005               Vianópolis             52
5222054                        22054           Vicentinópolis             52
5222203                        22203                 Vila Boa             52
5222302                        22302            Vila Propício             52
5300108                          108                 Brasília             53

[5570 rows x 3 columns]

In [59]:
# Importa a biblioteca create_engine
from sqlalchemy import create_engine

In [61]:
# cria sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"  
                      .format(user="root", pw="12345678", 
                      db="bootcamp"))

In [62]:
# Insere todo o dataframe 'cidade' na tabela 'Cidade' do DB
cidade.to_sql('cidade', con = engine, if_exists = 'append', chunksize = 1000,index=False)

In [69]:
#Consutar a tabela cidade listando a quantidade de registros existentes nela. Seu resultado deve imprimir 5570.

mycursor.execute("SELECT count(*) FROM cidade")

myresult = mycursor.fetchone()

print(myresult)

(5570,)

In [70]:
mydb.close()