In [ ]:
############################################################################
############Trabalho 1 -- Módulo 2 - Bootcamp Ciência de Dados##############
############################################################################

In [1]:
#Importando as bibliotecas 

import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

In [2]:
#Conecta com o BD
mydb = mysql.connector.connect(
        host = 'localhost',
        user='root',
        password='12345678',
        database='bootcamp')

mycursor = mydb.cursor()

In [ ]:
#Lê arquivo txt e colocá-o em um DataFrame
caracteristicasgerais = pd.read_csv("caracteristicasgerais.csv", encoding='latin-1')
#caracteristicasgerais.reset_index(inplace = True) 
#caracteristicasgerais.rename(columns = {"index": "idCaracteristicasImovel"},  inplace = True) 

caracteristicasgerais

In [ ]:
#Consutar a tabela cidade listando a quantidade de registros existentes nela. Seu resultado deve imprimir 5570.

mycursor.execute("SELECT count(*) FROM caracteristicasgerais")

myresult = mycursor.fetchone()

print(myresult)

In [3]:
# cria sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"  
                      .format(user="root", pw="12345678", 
                      db="bootcamp"))

In [ ]:
# Insere todo o dataframe 'caracteristicasgerais' na tabela 'caracteristicageralimovel' do DB
caracteristicasgerais.to_sql('caracteristicasgerais', con = engine, if_exists = 'append', chunksize = 1000,index=False)

In [ ]:
#Consutar a tabela cidade listando a quantidade de registros existentes nela. Seu resultado deve imprimir 5570.

mycursor.execute("SELECT count(*) FROM caracteristicasgerais")

myresult = mycursor.fetchone()

print(myresult)

In [ ]:
mycursor.execute("SELECT count(*) FROM bootcamp.imovel")

myresult = mycursor.fetchone()

print(myresult)

In [ ]:
imovel = pd.read_csv("imoveis.csv", encoding='latin-1')


imovel.head()

In [ ]:
imovel.to_sql('imovel', con = engine, if_exists = 'append', chunksize = 1000,index=False)

In [4]:
mycursor.execute("SELECT count(*) FROM bootcamp.imovel")

myresult = mycursor.fetchone()

print(myresult)

(35,)

In [5]:
caracteristicageralimovel = pd.read_csv("caracteristicageralimovel.csv", encoding='latin-1')


caracteristicageralimovel.head()

   idcaracteristicasGerais  idImovel  temCaracteristica
0                        1         1                  0
1                        1         2                  0
2                        2         4                  0
3                        1         5                  1
4                        2         6                  0

In [6]:
caracteristicageralimovel.to_sql('caracteristicageralimovel', con = engine, if_exists = 'append', chunksize = 1000,index=False)

In [9]:
mycursor.execute("SELECT count(*) FROM Bootcamp.caracteristicageralimovel;")

myresult = mycursor.fetchall()

print(myresult)

[(0,)]